app-social-media{
background-color: transparent;
}

.contact__container {
width: 350px;
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 10px;
font-size: 16px;
}

.contact__container > h1{
  margin-bottom: 20px;
  border-bottom: 3px solid blue;
}


.contact_table {
  border-collapse: collapse; /* Remove o espaço entre as células */
  border-spacing: 0; /* Garante que não haja espaçamento extra */
}
.contact_table td {
padding: 10px;
gap: 20px;
vertical-align: middle;
}

.contact_table td:first-child {
width: 30px; /* Define um tamanho fixo */
text-align: left; /* Alinha o texto à direita */
font-weight: 500;
white-space: nowrap; /* Evita que o texto quebre para a próxima linha */
}

.contact_table td a {
text-decoration: none;
color: inherit;
}

.contact_table td a:hover {
font-weight: 500;
}

.contact_table td a:active {
color: blue;
font-weight: 700;
}

.social_buttons{
margin-top: 40px;
}

.social_buttons > a{
list-style: none;
text-decoration: none;
color: inherit;
}

.social_buttons>a>button {
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
background-color: #00ff4c;
gap: 20px;
color: white;
border-radius: 10px;
cursor: pointer;
}

.social_buttons>a>button:hover {
background-color: #00a030;
transform: scale(1.1);
}

.social_buttons>a>button:active {
font-weight: bold;
}

.social_buttons> a > button > h3{
  display: flex;
  flex-wrap: nowrap;
  min-width:300px;
  font-size: 16px;
}
